In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import requests
import json

# API Keys
from config import gkey
from config import api_key

In [2]:
#Google Places Types: https://developers.google.com/places/web-service/supported_types

#TODO: Can we incorporate this list into the loop so this list can change without changing the code
types = ['bank']#, 'library', 'park', 'liquor_store', 'hospital']

In [3]:
# Read in the Dallas County Appraisal District (DCAD) property values file

file = "Resources/dcad_combined-Copy1.csv"

#create DataFrame
dcad_df = pd.read_csv(file, usecols=['PROPERTY_ZIPCODE', 'TOT_VAL'])
dcad_df.head(5)

   PROPERTY_ZIPCODE  TOT_VAL
0         750513060   103500
1         750513040   145500
2         750502208   168040
3         750502277   200040
4         750617840   151880

In [4]:
#add column for 5 digit zipcode
dcad_df['ZIPCODE'] = dcad_df['PROPERTY_ZIPCODE'].astype(str).str[:5]

In [5]:
#Group Property Values by Zipcode
zip_group = dcad_df.groupby('ZIPCODE')['TOT_VAL']

zip_group = zip_group.mean().to_frame('TOT_VAL')

#Sort the Zipcodes by propert values so we can easily get the top/bottom
zip_group.sort_values(by='TOT_VAL', ascending=False, inplace=True)

zip_group_df = zip_group.reset_index()

In [6]:
#Add columns to DataFrame to store business data
zip_group_df['Lat'] = "" 
zip_group_df["Lng"] = ""
zip_group_df["City"] = ""
zip_group_df["State"] = ""
zip_group_df = zip_group_df.rename(columns={"ZIPCODE": "Zipcode"})
zip_group_df["MeanPropertyValue"] = zip_group_df["TOT_VAL"].map("${:,.0f}".format)

In [7]:
#Preview 5 Zipcodes with highest values
zip_group_df.head(5)

  Zipcode       TOT_VAL Lat Lng City State MeanPropertyValue
0   75205  1.606362e+06                           $1,606,362
1   75225  1.207824e+06                           $1,207,824
2   75201  9.667580e+05                             $966,758
3   75209  7.230552e+05                             $723,055
4   75230  7.046378e+05                             $704,638

In [8]:
#Get 5 Zipcodes with lowest values
zip_group_df.tail(5)

   Zipcode       TOT_VAL Lat Lng City State MeanPropertyValue
86   75215  53040.148984                              $53,040
87   76065  44860.000000                              $44,860
88   75125  42103.223140                              $42,103
89   75247  35345.000000                              $35,345
90   75210  33010.142772                              $33,010

In [9]:
# create a params dict that will be updated with new zipcode each iteration
params = {"key": gkey}

# Loop through the zipcode pd's and run a lat/long search for each
for index, row in zip_group_df.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    zipcode = row['Zipcode']

    # update address key value to zipcode
    params['address'] = zipcode

    # make request
    zips_lat_lng = requests.get(base_url, params=params)
    
    # convert to json
    zips_lat_lng = zips_lat_lng.json()
    #print(json.dumps(zips_lat_lng, indent=4, sort_keys=True))
    
    #loop through address to find city
    for i in zips_lat_lng['results'][0]['address_components']:
        if i['types'][0] == 'locality':
            zip_group_df.loc[index, "City"] = i['long_name']
    
    #loop though address to find state
    for i in zips_lat_lng['results'][0]['address_components']:
        if i['types'][0] == 'administrative_area_level_1':
            zip_group_df.loc[index, "State"] = i['short_name']
    zip_group_df.loc[index, "Lat"] = zips_lat_lng["results"][0]["geometry"]["location"]["lat"]
    zip_group_df.loc[index, "Lng"] = zips_lat_lng["results"][0]["geometry"]["location"]["lng"]

# Visualize to confirm lat lng appear
zip_group_df

,Zipcode,TOT_VAL,Lat,Lng,City,State,MeanPropertyValue
0,75205,1.606362e+06,32.8326,-96.7976,Dallas,TX,"$1,606,362"
1,75225,1.207824e+06,32.8695,-96.7896,Dallas,TX,"$1,207,824"
2,75201,9.667580e+05,32.7863,-96.7963,Dallas,TX,"$966,758"
3,75209,7.230552e+05,32.8539,-96.819,Dallas,TX,"$723,055"
4,75230,7.046378e+05,32.9005,-96.7869,Dallas,TX,"$704,638"
5,75252,6.376967e+05,33.0009,-96.7976,Dallas,TX,"$637,697"
6,75229,6.056789e+05,32.8958,-96.8726,Dallas,TX,"$605,679"
7,75220,6.025323e+05,32.8622,-96.8726,Dallas,TX,"$602,532"
8,75214,5.574637e+05,32.8243,-96.744,Dallas,TX,"$557,464"
9,75039,4.344581e+05,32.8917,-96.9478,Irving,TX,"$434,458"
10,75019,4.157977e+05,32.9619,-96.9961,Coppell,TX,"$415,798"
11,75244,4.118858e+05,32.9312,-96.8405,Dallas,TX,"$411,886"
12,75248,3.982486e+05,32.9737,-96.7815,Dallas,TX,"$398,249"
13,75182,3.930622e+05,32.8067,-96.5463,Mesquite,TX,"$393,062"
14,75206,3.896058e+05,32.8225,-96.7762,Dallas,TX,"$389,606"
15,75238,3.811881e+05,32.8821,-96.7119,Dallas,TX,"$381,188"
16,75219,3.787560e+05,32.8122,-96.811,Dallas,TX,"$378,756"
17,75063,3.711891e+05,32.9117,-96.9907,Irving,TX,"$371,189"
18,75038,3.584369e+05,32.8722,-96.9961,Irving,TX,"$358,437"
19,75218,3.564176e+05,32.8378,-96.7012,Dallas,TX,"$356,418"
20,75254,3.465426e+05,32.9419,-96.8003,Dallas,TX,"$346,543"
21,75204,3.447888e+05,32.7995,-96.7869,Dallas,TX,"$344,789"
22,75001,3.152085e+05,32.9655,-96.8297,Addison,TX,"$315,208"
23,75240,3.082931e+05,32.9309,-96.7949,Dallas,TX,"$308,293"
24,75082,3.050104e+05,32.9972,-96.6585,Richardson,TX,"$305,010"
25,75080,2.766037e+05,32.976,-96.7387,Richardson,TX,"$276,604"
26,75208,2.725775e+05,32.7457,-96.8458,Dallas,TX,"$272,577"
27,75287,2.688500e+05,32.9985,-96.8405,Dallas,TX,"$268,850"
28,75048,2.622231e+05,32.9627,-96.5677,Sachse,TX,"$262,223"
29,75207,2.612233e+05,32.7892,-96.8217,Dallas,TX,"$261,223"
...,...,...,...,...,...,...,...
61,75146,1.443953e+05,32.5704,-96.7601,Lancaster,TX,"$144,395"
62,75116,1.426689e+05,32.6576,-96.9155,Duncanville,TX,"$142,669"
63,75150,1.423525e+05,32.8246,-96.6317,Mesquite,TX,"$142,352"
64,75060,1.421423e+05,32.8013,-96.9585,Irving,TX,"$142,142"
65,75223,1.400963e+05,32.7906,-96.744,Dallas,TX,"$140,096"
66,75041,1.399951e+05,32.8779,-96.6495,Garland,TX,"$139,995"
67,75134,1.346555e+05,32.6356,-96.8029,Lancaster,TX,"$134,656"
68,75149,1.312740e+05,32.7584,-96.6104,Mesquite,TX,"$131,274"
69,75237,1.280276e+05,32.6712,-96.8726,Dallas,TX,"$128,028"
70,75224,1.263187e+05,32.7067,-96.8405,Dallas,TX,"$126,319"
71,75227,1.238300e+05,32.7763,-96.6959,Dallas,TX,"$123,830"
72,75050,1.224220e+05,32.7811,-97.0176,Grand Prairie,TX,"$122,422"
73,75051,1.181308e+05,32.7321,-96.9907,Grand Prairie,TX,"$118,131"
74,75232,1.137634e+05,32.6558,-96.8458,Dallas,TX,"$113,763"
75,75159,1.135519e+05,32.6149,-96.557,Seagoville,TX,"$113,552"
76,75211,1.079941e+05,32.7434,-96.8887,Dallas,TX,"$107,994"
77,75253,1.057382e+05,32.692,-96.589,Dallas,TX,"$105,738"
78,75180,1.047654e+05,32.7187,-96.6157,Mesquite,TX,"$104,765"
79,75241,9.017196e+04,32.6604,-96.7601,Dallas,TX,"$90,172"
80,75141,8.490941e+04,32.6402,-96.7173,Hutchins,TX,"$84,909"
81,75212,8.415152e+04,32.783,-96.8834,Dallas,TX,"$84,152"
82,75217,8.055630e+04,32.71,-96.6745,Dallas,TX,"$80,556"
83,75203,7.551809e+04,32.7433,-96.7869,Dallas,TX,"$75,518"
84,75172,6.372479e+04,32.6028,-96.6799,Wilmer,TX,"$63,725"
85,75216,5.710002e+04,32.7031,-96.8029,Dallas,TX,"$57,100"
86,75215,5.304015e+04,32.7557,-96.7655,Dallas,TX,"$53,040"
87,76065,4.486000e+04,32.4805,-96.9639,Midlothian,TX,"$44,860"
88,75125,4.210322e+04,32.5204,-96.6424,Ferris,TX,"$42,103"
89,75247,3.534500e+04,32.8167,-96.8834,Dallas,TX,"$35,345"
90,75210,3.301014e+04,32.7654,-96.7414,Dallas,TX,"$33,010"

In [15]:
# params dictionary to update each iteration
for each_type in types:
    params = {
        #3 mi radius. A Zipcode is not returned in the results, so we cannot 
        #match against our zipcode without doing a reverse lookup for every result
        "radius": 4828,
        "types": each_type,
        "keyword": "bank",
        "key": gkey
    }
    
    #variables for the specific column names for the business type we are searching
    count_column = f"{each_type}_count"
    rating_column = f"{each_type}_rating"
    
    #add columns for each type we looking up
    zip_group_df[count_column] = ""
    zip_group_df[rating_column] = ""


    # Use the lat/lng we recovered to search for businesses
    for index, row in zip_group_df.iterrows():

        rating_sum = 0
        rating_count = 0

        # get lat, lng from df
        lat = row["Lat"]
        lng = row["Lng"]

        # change location each iteration while leaving original params in place
        #params["location"] = f"32.8326,-96.7976" #testing 1 lat, lng
        params["location"] = f"{lat},{lng}"

        #Google Places Search
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

        # make request and print url
        search_results = requests.get(base_url, params=params)

        # convert to json
        search_results = search_results.json()
        #print(json.dumps(search_results, indent=4, sort_keys=True))

        results_list = search_results['results']

        #Set the business count
        zip_group_df.loc[index, count_column] = len(results_list)

        #Loop through results list to get rating for each 
        for each_result in results_list:
            #check for KeyError since not all business have a rating
            try:
                #print(f'{each_result["name"]}: {each_result["rating"]}')
                rating = each_result["rating"]
                rating_count += 1
                rating_sum += rating
            except(KeyError):
                next
        #Set Rating to 0 if there are not businesses returned
        try:
            zip_group_df.loc[index, rating_column] = rating_sum / rating_count
        except(ZeroDivisionError):
            zip_group_df.loc[index, rating_column] = 0
            
        detail_df = pd.DataFrame.from_dict(results_list, orient='columns')

In [11]:
zip_group_df.sort_values('TOT_VAL')

,Zipcode,TOT_VAL,Lat,Lng,City,State,MeanPropertyValue,supermarket_count,supermarket_rating,bank_count,bank_rating
90,75210,3.301014e+04,32.7654,-96.7414,Dallas,TX,"$33,010",11,3.85,15,2.95
89,75247,3.534500e+04,32.8167,-96.8834,Dallas,TX,"$35,345",3,3.7,20,3.35455
88,75125,4.210322e+04,32.5204,-96.6424,Ferris,TX,"$42,103",1,4.2,1,3.7
87,76065,4.486000e+04,32.4805,-96.9639,Midlothian,TX,"$44,860",2,4,9,3.675
86,75215,5.304015e+04,32.7557,-96.7655,Dallas,TX,"$53,040",11,3.8,20,3.63571
85,75216,5.710002e+04,32.7031,-96.8029,Dallas,TX,"$57,100",16,3.7125,15,2.91333
84,75172,6.372479e+04,32.6028,-96.6799,Wilmer,TX,"$63,725",1,4.4,2,0
83,75203,7.551809e+04,32.7433,-96.7869,Dallas,TX,"$75,518",17,3.85882,20,3.42941
82,75217,8.055630e+04,32.71,-96.6745,Dallas,TX,"$80,556",15,3.69231,8,3.1
81,75212,8.415152e+04,32.783,-96.8834,Dallas,TX,"$84,152",7,3.97143,20,3.225
80,75141,8.490941e+04,32.6402,-96.7173,Hutchins,TX,"$84,909",2,3.9,3,3
79,75241,9.017196e+04,32.6604,-96.7601,Dallas,TX,"$90,172",7,3.55714,5,3.7
78,75180,1.047654e+05,32.7187,-96.6157,Mesquite,TX,"$104,765",9,4.14444,10,2.975
77,75253,1.057382e+05,32.692,-96.589,Dallas,TX,"$105,738",3,4.2,1,4.8
76,75211,1.079941e+05,32.7434,-96.8887,Dallas,TX,"$107,994",16,4.025,20,3.11111
75,75159,1.135519e+05,32.6149,-96.557,Seagoville,TX,"$113,552",2,4.1,3,3.8
74,75232,1.137634e+05,32.6558,-96.8458,Dallas,TX,"$113,763",14,4.08571,20,3.06667
73,75051,1.181308e+05,32.7321,-96.9907,Grand Prairie,TX,"$118,131",11,3.90909,15,2.89
72,75050,1.224220e+05,32.7811,-97.0176,Grand Prairie,TX,"$122,422",8,3.9875,16,2.63333
71,75227,1.238300e+05,32.7763,-96.6959,Dallas,TX,"$123,830",19,3.7125,19,3.28462
70,75224,1.263187e+05,32.7067,-96.8405,Dallas,TX,"$126,319",20,3.955,20,2.925
69,75237,1.280276e+05,32.6712,-96.8726,Dallas,TX,"$128,028",19,4.03158,20,2.7
68,75149,1.312740e+05,32.7584,-96.6104,Mesquite,TX,"$131,274",10,4.07,20,3.44118
67,75134,1.346555e+05,32.6356,-96.8029,Lancaster,TX,"$134,656",9,3.97778,10,2.5
66,75041,1.399951e+05,32.8779,-96.6495,Garland,TX,"$139,995",19,3.97647,20,3.34444
65,75223,1.400963e+05,32.7906,-96.744,Dallas,TX,"$140,096",20,4.00526,20,3.47647
64,75060,1.421423e+05,32.8013,-96.9585,Irving,TX,"$142,142",13,3.99231,15,3.41818
63,75150,1.423525e+05,32.8246,-96.6317,Mesquite,TX,"$142,352",15,3.96429,20,2.95789
62,75116,1.426689e+05,32.6576,-96.9155,Duncanville,TX,"$142,669",10,4.12,20,3.02857
61,75146,1.443953e+05,32.5704,-96.7601,Lancaster,TX,"$144,395",5,3.775,5,3.16667
...,...,...,...,...,...,...,...,...,...,...,...
29,75207,2.612233e+05,32.7892,-96.8217,Dallas,TX,"$261,223",12,4.15455,20,3.66429
28,75048,2.622231e+05,32.9627,-96.5677,Sachse,TX,"$262,223",2,4.15,6,3.86
27,75287,2.688500e+05,32.9985,-96.8405,Dallas,TX,"$268,850",7,4.2,20,3.18333
26,75208,2.725775e+05,32.7457,-96.8458,Dallas,TX,"$272,577",20,4.07,20,3.175
25,75080,2.766037e+05,32.976,-96.7387,Richardson,TX,"$276,604",8,4.18571,20,3.36875
24,75082,3.050104e+05,32.9972,-96.6585,Richardson,TX,"$305,010",10,4.01,20,3.04706
23,75240,3.082931e+05,32.9309,-96.7949,Dallas,TX,"$308,293",12,4.1,20,3.3875
22,75001,3.152085e+05,32.9655,-96.8297,Addison,TX,"$315,208",10,4.11111,20,3.44118
21,75204,3.447888e+05,32.7995,-96.7869,Dallas,TX,"$344,789",20,4.13,20,3.44667
20,75254,3.465426e+05,32.9419,-96.8003,Dallas,TX,"$346,543",12,4.1,20,3.34118
19,75218,3.564176e+05,32.8378,-96.7012,Dallas,TX,"$356,418",9,3.925,20,3.22857
18,75038,3.584369e+05,32.8722,-96.9961,Irving,TX,"$358,437",10,3.87,20,3.54118
17,75063,3.711891e+05,32.9117,-96.9907,Irving,TX,"$371,189",3,3.9,20,3.34118
16,75219,3.787560e+05,32.8122,-96.811,Dallas,TX,"$378,756",17,4.25625,20,3.43846
15,75238,3.811881e+05,32.8821,-96.7119,Dallas,TX,"$381,188",16,4.06,20,3.04737
14,75206,3.896058e+05,32.8225,-96.7762,Dallas,TX,"$389,606",16,4.24375,20,3.33333
13,75182,3.930622e+05,32.8067,-96.5463,Mesquite,TX,"$393,062",0,0,2,3.2
12,75248,3.982486e+05,32.9737,-96.7815,Dallas,TX,"$398,249",7,4.18571,20,3.22353
11,75244,4.118858e+05,32.9312,-96.8405,Dallas,TX,"$411,886",12,4.025,20,3.34444
10,75019,4.157977e+05,32.9619,-96.9961,Coppell,TX,"$415,798",3,4.13333,20,3.35882
9,75039,4.344581e+05,32.8917,-96.9478,Irving,TX,"$434,458",4,3.9,20,3.3
8,75214,5.574637e+05,32.8243,-96.744,Dallas,TX,"$557,464",17,4.15294,20,3.33889
7,75220,6.025323e+05,32.8622,-96.8726,Dallas,TX,"$602,532",14,4.03333,20,3.48824
6,75229,6.056789e+05,32.8958,-96.8726,Dallas,TX,"$605,679",18,4.04375,20,3.00556
5,75252,6.376967e+05,33.0009,-96.7976,Dallas,TX,"$637,697",7,4.28571,20,3.41111
4,75230,7.046378e+05,32.9005,-96.7869,Dallas,TX,"$704,638",9,4.11111,20,3.18
3,75209,7.230552e+05,32.8539,-96.819,Dallas,TX,"$723,055",14,4.12857,20,3.64375
2,75201,9.667580e+05,32.7863,-96.7963,Dallas,TX,"$966,758",20,4.12105,20,3.48571
1,75225,1.207824e+06,32.8695,-96.7896,Dallas,TX,"$1,207,824",9,4.3,20,3.65
0,75205,1.606362e+06,32.8326,-96.7976,Dallas,TX,"$1,606,362",19,4.32222,20,3.53333

In [14]:
detail_df

,geometry,icon,id,name,opening_hours,photos,place_id,plus_code,rating,reference,scope,types,user_ratings_total,vicinity
0,"{'location': {'lat': 32.7919939, 'lng': -96.75...",https://maps.gstatic.com/mapfiles/place_api/ic...,01c6e87ec2e501cf9a92baa785fa6ee022dd67f5,Comerica Bank,{'open_now': False},"[{'height': 3024, 'html_attributions': ['<a hr...",ChIJpbNqGKeYToYR9Ndtsx0ru9c,"{'compound_code': 'Q6RX+Q6 Dallas, Texas, Unit...",3.7,ChIJpbNqGKeYToYR9Ndtsx0ru9c,GOOGLE,"[bank, finance, point_of_interest, establishment]",7.0,"5201 East R L Thornton Freeway, Dallas"
1,"{'location': {'lat': 32.7942926, 'lng': -96.77...",https://maps.gstatic.com/mapfiles/place_api/ic...,26514c2cb79223143fb2948d72a51e59e312a141,Capital One Bank,{'open_now': False},"[{'height': 600, 'html_attributions': ['<a hre...",ChIJAeqZV8-YToYR0RSvdcgUAiM,"{'compound_code': 'Q6VF+P7 Dallas, Texas, Unit...",3.5,ChIJAeqZV8-YToYR0RSvdcgUAiM,GOOGLE,"[bank, atm, finance, point_of_interest, establ...",42.0,"4111 Gaston Avenue, Dallas"
2,"{'location': {'lat': 32.77402159999999, 'lng':...",https://maps.gstatic.com/mapfiles/place_api/ic...,9ca588698ca732251456df5d742a14e6c7cd8ab3,Bank of America Financial Center,{'open_now': False},"[{'height': 1080, 'html_attributions': ['<a hr...",ChIJC7uOSJCYToYRWGB0ixkYswU,"{'compound_code': 'Q6FQ+J4 Dallas, Texas, Unit...",2.6,ChIJC7uOSJCYToYRWGB0ixkYswU,GOOGLE,"[bank, finance, point_of_interest, establishment]",13.0,"3300 Martin Luther King Junior Boulevard, Dallas"
3,"{'location': {'lat': 32.7932226, 'lng': -96.77...",https://maps.gstatic.com/mapfiles/place_api/ic...,57e5dcb086c5c914c6d6ba864379a3398bdce1c1,Bank of America Financial Center,{'open_now': False},"[{'height': 2322, 'html_attributions': ['<a hr...",ChIJveAS5SYV6YARdjgOfTuM4RI,"{'compound_code': 'Q6VC+7M Dallas, Texas, Unit...",2.2,ChIJveAS5SYV6YARdjgOfTuM4RI,GOOGLE,"[bank, finance, point_of_interest, establishment]",34.0,"3921 Gaston Avenue, Dallas"
4,"{'location': {'lat': 32.7703131, 'lng': -96.74...",https://maps.gstatic.com/mapfiles/place_api/ic...,0dcd9b2dff5b72b85acfc3d854b958b63eed6f78,Hibernia Investments,NaN,NaN,ChIJoess-niiToYRSI5shragdnM,"{'compound_code': 'Q7C3+44 Dallas, Texas, Unit...",NaN,ChIJoess-niiToYRSI5shragdnM,GOOGLE,"[bank, atm, finance, point_of_interest, establ...",NaN,Dallas
5,"{'location': {'lat': 32.77022600000001, 'lng':...",https://maps.gstatic.com/mapfiles/place_api/ic...,bb5b410c8e9d117cfe7f405c56cd0df9d6e956f7,Chase Bank,{'open_now': False},"[{'height': 1266, 'html_attributions': ['<a hr...",ChIJC2Rnr42YToYRpsPrtHIABuA,"{'compound_code': 'Q6CJ+3V Dallas, Texas, Unit...",3.7,ChIJC2Rnr42YToYRpsPrtHIABuA,GOOGLE,"[bank, atm, finance, point_of_interest, establ...",18.0,"2833 Martin Luther King Junior Boulevard, Dallas"
6,"{'location': {'lat': 32.748293, 'lng': -96.759...",https://maps.gstatic.com/mapfiles/place_api/ic...,4f255fc4a57ae3bd18c5afabfe166ce026254437,Mjatm Services,NaN,NaN,ChIJ6ynJ1W-YToYRL0JqVMJ47gI,"{'compound_code': 'P6XR+83 Dallas, Texas, Unit...",NaN,ChIJ6ynJ1W-YToYRL0JqVMJ47gI,GOOGLE,"[bank, atm, finance, point_of_interest, establ...",NaN,"4911 South Central Expressway, Dallas"
7,"{'location': {'lat': 32.7786584, 'lng': -96.71...",https://maps.gstatic.com/mapfiles/place_api/ic...,01d73e693bd7d740a56ef85ec3c66f4c7dc46e3b,Carib express envio d dineroe,NaN,NaN,ChIJS6MRfeCjToYRDI-rEYnMnYk,"{'compound_code': 'Q7HP+F2 Dallas, Texas, Unit...",NaN,ChIJS6MRfeCjToYRDI-rEYnMnYk,GOOGLE,"[bank, finance, point_of_interest, establishment]",NaN,Dallas
8,"{'location': {'lat': 32.7934433, 'lng': -96.74...",https://maps.gstatic.com/mapfiles/place_api/ic...,ce44ccf68f511d9b8c114597a6211a08023b5715,"ATM 7ELEVEN, INC.",NaN,NaN,ChIJJ31zTAiiToYRv2yTNmSVLxk,"{'compound_code': 'Q7V3+93 Dallas, Texas, Unit...",NaN,ChIJJ31zTAiiToYRv2yTNmSVLxk,GOOGLE,"[bank, finance, point_of_interest, establishment]",NaN,"5550 East Grand Avenue, Dallas"
9,"{'location': {'lat': 32.7811506, 'lng': -96.77...",https://maps.gstatic.com/mapfiles/place_api/ic...,6f5aca2581c6b5df74e428f0c5a7fa4209586df0,ATM Baylor - Branch Location,NaN,NaN,ChIJJ47YiemYToYRg-ctQL83q08,"{'compound_code': 'Q6JF+FF Dallas, Texas, Unit...",NaN,ChIJJ47YiemYToYRg-ctQL83q08,GOOGLE,"[bank, finance, point_of_interest, establishment]",NaN,"1551 Baylor Street #103, Dallas"
10,"{'location': {'lat': 32.79743669999999, 'lng':...",https://maps.gstatic.com/mapfiles/place_api/ic...,f9429241b3d7acb60aa92eb9987fe8ba5271f7ab,ATM Ferguson - Branch Location,NaN,NaN,ChIJD433NSWiToYRGdgmj9WVlIU,"{'compound_code': 'Q7WJ+XM Dallas, Texas, Unit...",NaN,ChIJD433NSWiToYRGdgmj9WVlIU,GOOGLE,"[atm, bank, finance, point_of_interest, establ...",NaN,"7474 Ferguson Road, Dallas"
11,"{'location': {'lat': 32.7980886, 'lng': -96.71...",https://maps.gstatic.com/mapfiles/place_api/ic...,f7f505c485f29f95ed648d9cd891c80a5c28bffc,Resource One Credit Union,NaN,NaN,ChIJF2DaViWiToYRfKeaLqFDgz8,"{'compound_code': 'Q7XJ+6X Dallas, Texas, Unit...",NaN,ChIJF2DaViWiToYRfKeaLqFDgz8,GOOGLE,"[bank, finance, point_of_interest, establishment]",NaN,Dallas
12,"{'location': {'lat': 32.7711835, 'lng': -96.78...",https://maps.gstatic.com/mapfiles/place_api/ic...,2b8ec398cb081a50996e528728384b23352bbfe1,Texas Brand Bank,NaN,"[{'height': 4160, 'html_attributions': ['<a hr...",ChIJAznlyvyYToYRpTcZtLl_tJ8,"{'compound_code': 'Q6C6+FM Dallas, Texas, Unit...",2.0,ChIJAznlyvyYToYRpTcZtLl_tJ8,GOOGLE,"[bank, finance, point_of_interest, establishment]",1.0,Dallas
13,"{'location': {'lat': 32.7942687, 'lng': -96.77...",https://maps.gstatic.com/mapfiles/place_api/ic...,55225334b44e004c24ad97e2bc1c547931b3854e,Banco,NaN,NaN,ChIJAQCQ98WYToYRdCLPITi-lXI,"{'compound_code': 'Q6VF+P6 Dallas, Texas, Unit...",NaN,ChIJAQCQ98WYToYRdCLPITi-lXI,GOOGLE,"[bank, finance, point_of_interest, establishment]",NaN,"4105 Gaston Avenue, Dallas"
14,"{'location': {'lat': 32.7904266, 'lng': -96.78...",https://maps.gstatic.com/mapfiles/place_api/ic...,004ca67ff61a1b295415f1b852e7ce07b26812a2,PlainsCapital Bank,{'open_now': False},"[{'height': 1708, 'html_attributions': ['<a hr...",ChIJ6c1-zMSYToYRfpFf9tvaeOo,"{'compound_code': 'Q6R9+5F Dallas, Texas, Unit...",NaN,ChIJ6c1-zMSYToYRfpFf9tvaeOo,GOOGLE,"[bank, finance, point_of_interest, establishment]",NaN,"3417 Gaston Avenue Ste 150, Dallas"